<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Votar</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Votar</h1>
		<hr />
		
		<form th:action="@{/ideias/{id}/vote(id = ${id_ideia})}" th:method="post" th:object="${voto}">
			<input type="hidden" th:field="*{id}"/>
			
			<div class="form-group">
			<ul>
			  			
			  <li th:each="tipo : ${tipos}">
    			<input type="radio" th:field="*{tipo}" th:value="${tipo}" />
   				 <label th:for="${#ids.prev('tipo')}" th:text="${tipo}"></label>
 			 </li>
 			 </ul>
			</div>
					
			<div class="form-group">
				<label for="comentario">Comentário</label> <textarea id="comentario" name="comentario"
					rows="7" class="form-control" th:field="*{comentario}"></textarea>
			</div>
			
			<button type="submit" class="btn btn-success">Salvar</button>
			<a th:href="@{/ideias/{id}(id = ${id_ideia})}" class="btn btn-default">Cancelar</a>						
		</form>
	</div>
</body>
</html>