<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Ranking</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class='page-header'>
			  <div class='btn-toolbar pull-right'>
			    <div class='btn-group'>
			    	<a th:href="@{/grupos/{id}/participantes(id = ${grupo.id})}" type="button" class="btn btn-default">Participantes</a>
			    	<a th:href="@{/grupos/{id}/sessoes(id = ${grupo.id})}" type="button" class="btn btn-default">Sessões</a>
			    	<a th:href="@{/grupos/{id}/ranking(id = ${grupo.id})}" type="button" class="btn btn-default">Ranking</a>
					<a th:if="${ehAdmin}" type='button' class='btn btn-default' th:href="@{/grupo/{id}/edit(id = ${grupo.id})}">Editar</a>
				    <a th:if="${ehAdmin}" type="button" class="btn btn-danger" data-toggle="modal" data-target="#rmvGrupoModel">Remover</a>
					<div th:if="${ehAdmin}" class="modal fade" id="rmvGrupoModel" tabindex="-1" role="dialog" aria-labelledby="rmvGrupoModelLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="rmvGrupoModel">Confirmação</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					       Você realmente deseja remover o Grupo?
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					        <a th:href="@{/grupos/{id}/delete(id = ${grupo.id})}" class="btn btn-primary">Sim</a>
					      </div>
					    </div>
					  </div>
					</div>
			    </div>
			  </div>
			  <h3 th:text="${grupo.nome}"></h3>			  
			</div>
			<div class="panel panel-default">
		  		<div class="panel-heading">
					<h3 class="panel-title">Ranking</h3>
				</div>	
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Pontuação</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="participacao : ${participacoes}">
								<td th:text="${participacao.participante.name}"></td>
								<td th:text="${participacao.pontos}"></td>
							</tr>					
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>