<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Bem Vindo</title>
</head>
<body>
	<div layout:fragment="content">		
		<div class="row" style="margin-top:20px">
	        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				<form th:action="@{/login}" th:method="post">
					<fieldset>
					
						<h1> Entre no sistema </h1>
						
			            <div th:if="${param.error}">
			                <div class="alert alert-danger">
			                    Email ou senha inválidos.
			                </div>
			            </div>
			            
						<div class="form-group">
							<input id="email" name="email" type="text" class="form-control input-lg" 
							placeholder="Email" autofocus="autofocus" required="true">
						</div>
						
						<div class="form-group">
							<input id="password" name="password" placeholder="Senha" 
								type="password" class="form-control input-lg" requirde="true">
						</div>
						
			            <div class="row">
			               <div class="col-xs-6 col-sm-6 col-md-6">
			                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Entrar"/>
			               </div>
			             </div>
		             </fieldset>
				</form>
			</div>
		</div>				
	</div>
	
	
	

</body>
</html>