<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Adicionar Solicitação</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Adicionar Solicitação</h1>
		<hr />
		
		<form th:action="@{/solicitacoes}"
			th:method="post">
			<input type="hidden" th:field="${solicitacao.id}"/>
			
			<div class="form-group">
				<label for="titulo">Novo Título</label> <input id="titulo" name="titulo"
					type="text" class="form-control" th:field="${solicitacao.novoTitulo}"/>
			</div>
			
			<div class="form-group">
				<label for="descricao">Nova Descrição</label> <textarea id="descricao" name="descricao"
					rows="7" class="form-control" th:field="${solicitacao.novaDescricao}"></textarea>
			</div>
			
			<input id="id_sugestao" name="id_sugestao" type="hidden" th:value="${id_sugestao}">
			
			<button type="submit" class="btn btn-success">Salvar</button>
			<a th:href="@{/ideias/{id}/(id = ${id_ideia})}" class="btn btn-default">Cancelar</a>						
		</form>
	</div>
</body>
</html>