<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layout">
<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title th:if="${sessao.id == null}">Nova Sessão</title>
	<title th:if="${sessao.id != null}">Editar Sessão</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:if="${sessao.id == null}">Nova Sessão</h1>
		<h1 th:if="${sessao.id != null}">Editar Sessão</h1>
		<hr />
		<form th:action="@{/sessoes}" enctype="multipart/form-data"
			th:method="@{${sessao.id == null} ? 'post' : 'put'}"
			th:object="${sessao}">
			<input type="hidden" th:field="*{id}" />
			
			<div class="form-group">
				<label for="tema">Tema</label> <input id="tema" name="tema"
					type="text" class="form-control" th:field="*{tema}"/>
			</div>
			
			<div class="form-group">
				<label for="detalhes">Detalhes</label> <textarea id="detalhes" name="detalhes"
					rows="7" class="form-control" th:field="*{detalhes}"></textarea>
			</div>
			
			<div class="form-group">
				<label for="detalhes">Arquivo de Configuração:</label>
				<input name="file" type="file">
			</div>			
						
			<input id="id_grupo" name="id_grupo" type="hidden" th:value="${id_grupo}">
			
			<button type="submit" class="btn btn-success">Salvar</button>
			<a th:href="@{/grupos/{id}/sessoes(id = ${grupo.id})}" type="button" class="btn btn-default">Cancelar</a> 
		</form>
	</div>
</body>
</html>