<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Sessão</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class='page-header'>
			  <div class='btn-toolbar pull-right'>
			    <div class='btn-group'>
			    	<a th:if="${ehModerador} and not ${sessao.finalizado}" type='button' class='btn btn-default' th:href="@{/sessoes/{id}/solicitacoes(id = ${sessao.id})}">Solicitações de Alteração</a>
					<a th:if="${ehModerador} and not ${sessao.finalizado}" type='button' class='btn btn-default' th:href="@{/sessoes/{id}/edit(id = ${sessao.id})}">Editar Sessão</a>
				   	<a th:if="${ehModerador} and not ${sessao.finalizado}" type='button' class='btn btn-default' th:href="@{/sessoes/{id}/finalizar(id = ${sessao.id})}">Finalizar Sessão</a>
				   	<a th:if="${ehModerador}" type="button" class="btn btn-danger" data-toggle="modal" data-target="#rmvSessaoModel">Remover Sessão</a>
					<div th:if="${ehModerador}" class="modal fade" id="rmvSessaoModel" tabindex="-1" role="dialog" aria-labelledby="rmvSessaoModelLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="rmvSessaoModel">Confirmação</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					       Você realmente deseja remover a sessão?
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					        <a th:href="@{/sessoes/{id}/delete(id = ${sessao.id})}" class="btn btn-primary">Sim</a>
					      </div>
					    </div>
					  </div>
					</div>
			    </div>
			  </div>
			  <h3>
			  	<a th:text="${sessao.grupo.nome}" th:href="@{/grupos/{id}/sessoes(id = ${sessao.grupo.id})}"></a>
			  	/
			  	<label th:text="${sessao.tema}"></label>
			  </h3>
			</div>
			<div class="container">
				<div class="panel panel-default">
					<div class="panel-body">
						<label for="detalhes">Detalhes: </label>
						<span th:text="${sessao.detalhes}"></span>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 th:if="not ${sessao.finalizado}" class="panel-title">Quadros e Ideias</h3>
						<h3 th:if="${sessao.finalizado}" class="panel-title">Ideias Selecionadas como Solução</h3>						
					</div>
					<div class="panel-body">
						<div th:if="not ${sessao.finalizado}"class="col-md-4" th:each="quadro : ${divisor.quadros}">
							<ul class="list-group">
								<li class="list-group-item active">
										<label th:text="${quadro.nome}"></label>
								<a th:href="@{/ideias/new?id_no={id}(id = ${quadro.id})}" class="btn btn-success pull-right">+</a>
								</li>
								<li class="list-group-item" th:each="ideia : ${quadro.ideias}">
										<a th:text="${ideia.titulo}" th:href="@{/ideias/{id}(id = ${ideia.id})}"></a>
								</li>
							</ul>
						</div>
						<div th:if="${sessao.finalizado}" class="col" th:each="ideia : ${sessao.solucao}">
							<div class="panel panel-info">
							  <div class="panel-heading">
							    <h3 class="panel-title" th:text="${ideia.titulo}">Panel title</h3>
							  </div>
							  <div class="panel-body">
							    <p class="card-text" th:text="${ideia.descricao}"></p>
							  </div>
							</div>
						</div>	
					</div>
				</div>
				
			</div>
		</div>
	</body>
</html>