<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Sessão</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class='page-header'>
			  <div class='btn-toolbar pull-right'>
			    <div class='btn-group'>
			    	<a th:if="${ehModerador}" type='button' class='btn btn-default' th:href="@{/sessoes/{id}/solicitacoes(id = ${sessao.id})}">Solicitações de Alteração</a>
					<a th:if="${ehModerador}" type='button' class='btn btn-default' th:href="@{/sessoes/{id}/edit(id = ${sessao.id})}">Editar Sessão</a>
				   	<a th:if="${ehModerador}" type="button" class="btn btn-danger" data-toggle="modal" data-target="#rmvSessaoModel">Remover Sessão</a>
					<div th:if="${ehModerador}" class="modal fade" id="rmvSessaoModel" tabindex="-1" role="dialog" aria-labelledby="rmvSessaoModelLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="rmvSessaoModel">Confirmação</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					       Você realmente deseja remover a sessão?
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					        <a th:href="@{/sessoes/{id}/delete(id = ${sessao.id})}" class="btn btn-primary">Sim</a>
					      </div>
					    </div>
					  </div>
					</div>
			    </div>
			  </div>
			  <h3>
			  	<a th:text="${sessao.grupo.nome}" th:href="@{/grupos/{id}/sessoes(id = ${sessao.grupo.id})}"></a>
			  	/
			  	<label th:text="${sessao.tema}"></label>
			  </h3>
			</div>
			<div class="form-group">
				<label for="detalhes">Detalhes: </label><br>
				<span th:text="${sessao.detalhes}"></span>
			</div>
			<div class="form-group">
				<label for="detalhes">Ideias: </label>
			</div>			
			<table class="table">
				<thead>
					<tr>
						<th>Título</th>
						<th>Autor</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="ideia : ${ideias}">
						<td th:text="${ideia.titulo}"></td>
						<td th:text="${ideia.autor}"></td>
						<td class="text-right">
							<a th:href="@{/ideias/{id}(id = ${ideia.id})}" class="btn btn-primary">Exibir</a>
						</td>
					</tr>					
				</tbody>
			</table>
			<div class="form-group">
				<a th:href="@{/ideias/new?id_sessao={id}(id = ${sessao.id})}" class="btn btn-success">Nova Ideia</a>
			</div>
		</div>
	</body>
</html>